@namespace PAD.Client.Finance

<PageTitle>Operations</PageTitle>

<MudToolBar>
    <MudText Typo="Typo.h6" Class="mt-1">Operations</MudText>
    <MudSpacer />
    <MudButtonGroup OverrideStyles="false" Variant="Variant.Filled">
        <MudTooltip Text="Create expense" Arrow="true" Placement="Placement.Top">
            <MudIconButton Icon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Color="Color.Success"
                Size="Size.Medium" @onclick="CreateExpense" Disabled="_table.SelectedItem != null" />
        </MudTooltip>
        <MudTooltip Text="Update expense" Arrow="true" Placement="Placement.Top">
            <MudIconButton Icon="@Icons.Material.Filled.Edit" Variant="Variant.Filled" Color="Color.Warning"
                Size="Size.Medium" @onclick="UpdateExpense" Disabled="_table.SelectedItem == null" />
        </MudTooltip>
        <MudTooltip Text="Delete expense" Arrow="true" Placement="Placement.Top">
            <MudIconButton Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Color="Color.Error"
                Size="Size.Medium" @onclick="DeleteExpense" Disabled="_table.SelectedItem == null" />
        </MudTooltip>
    </MudButtonGroup>
</MudToolBar>

<MudTable Loading="State.IsLoading" ServerData="@(new Func<TableState, Task<TableData<Models.Expense>>>(ServerReload))" Hover="true" @ref="_table"
    @bind-RowClassFunc="RowClass" OnRowClick="RowClickEvent" T="Expense">
    <ToolBarContent>
        <div class="pad-flex-toolbar">
            <MudTooltip Text="Search your expense" Arrow="true" Placement="Placement.Top">
                <MudTextField T="string" Label="Search" DebounceInterval="500" Margin="Margin.Dense"
                    OnDebounceIntervalElapsed="OnSearchStringChanged" Adornment="Adornment.Start"
                    Variant="Variant.Outlined" AdornmentIcon="@Icons.Material.Outlined.Search"
                    @bind-Value="@_searchString"></MudTextField>
            </MudTooltip>
            <MudSpacer />
            <MudTooltip Text="Select date range" Arrow="true" Placement="Placement.Top">
                <MudDateRangePicker Label="Period" PickerVariant="PickerVariant.Dialog" DateFormat="dd/MM/yyyy"
                    Margin="Margin.Dense" InputVariant="Variant.Outlined" IconSize="Size.Small" DateRange="_dateRange"
                    DateRangeChanged="OnDateRangeChange" TitleDateFormat="dddd, dd MMMM" />
            </MudTooltip>
        </div>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>
            <MudTableSortLabel SortLabel="CategoryName" T="Models.Expense">Category</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortLabel="Description" T="Models.Expense">Description</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortLabel="Amount" T="Models.Expense">Amount</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortLabel="CreatedDate" T="Models.Expense">Date</MudTableSortLabel>
        </MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Category">@context.CategoryName</MudTd>
        <MudTd DataLabel="Description">@context.Description</MudTd>
        <MudTd DataLabel="Amount">@context.Amount</MudTd>
        <MudTd DataLabel="CreatedDate">@context.CreatedDate.AddMinutes(State.TimezoneOffset).ToShortDateString()</MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>No matching records found</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>